@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-weight: bold; */
}

body {
    background-color: black;
    /* color: white; */
}

.left {
    width: 25vw;
    height: 100%;
}

.right {
    width: 74vw;
    margin: 10px 10px 10px -1px;
    position: relative;
}

.home{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.home ul li {
    width: 23px;
    gap: 18px;
    list-style: none;
    display: flex;
    padding-top: 18px;
    align-items: center;
    font-size:15px;
    font-weight: 600;
    cursor: pointer;
}

.home ul li:nth-child(1):hover{
    color: #cfcfcf;
}
.home ul li:nth-child(2):hover{
    color: #ffffff;
}

.home .search{
    color:#a7a7a7;
    gap:14px;
}

.heading{
    display: flex;
    width: 100%;
    align-items: center;
}

.heading img{
    width: 23px;
}

.heading .library-icon-text{
    display: flex; 
    gap: 14px;
    font-size: 15px;
    font-weight:500;
    color: #a7a7a7;
    cursor: pointer;
}

.library{
    min-height: 74vh;
    position: relative;
    padding-top: 15px;
    padding-bottom: 43px;
    padding-right: 18px;
    padding-left: 18px;
}
.footer{
    font-size: 10px;
    gap: 13px;
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    flex-wrap: wrap;
}

.footer a{
    color: grey;
}

.header{
    display: flex;
    background-color: transparent;
    padding: 12px 18px;
    margin-top: 6px;
    border-radius: 8px;
}

.nav{
    padding-top: 10px;
}
.nav button{
    background-color: #090909;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.nav button:hover{
    opacity: 0.5;
}

.button .sign{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 50px;
    padding-left: 28px;
    border-radius: 28px 28px;
    font-size:15px;
    color: #a7a7a7;
    font-weight: 600;
    cursor: pointer;
}

button.sign:hover{
    color:#ffffff;
    font-size:medium;
    margin: -1px;
    margin-right: -2px;
}

.button .log{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 28px 28px;
    font-size:15px;
    background-color: #fff;
    border: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

button.log:hover{
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 29px;
    padding-left: 28px;
    font-size:medium;
    /* margin-right: -3px; */
   /*  padding-left: 26px; */
}

.music-container{
    display: flex;
    justify-content: center;
}


.musics{
    /* display: none; */                      /*  playlist */
    height: 87vh;
    margin: 10px;
    border-radius: 10px;
    background-image: linear-gradient(#1e1e1e, #121212);
    overflow-y: scroll;
    width: 100%;
}


.music-container h2{
    font-size:27px;
    font-weight:600;
    padding: 10px 0 25px 20px;
}



.card-container{
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-height: 70vh;
}

.card{
    width: 200px;
    height:100%;
    padding:15px;
    
    border-radius: 8px;
    position: relative;
}


.card:hover{
    background-image: linear-gradient(#171717, #181818);
    opacity: 0.8;
    scale: 0.97;
    transition-duration: 0.01s;
}


.card:hover .img-box button{
    opacity: 1;
    transition-duration: 0.01s;
}

.img-box button:hover {
    scale: 1.1;
    background-color: #00ff37;
}


.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.card h3{
    margin-top: 5px;
    font-weight: normal;
    font-size: 1.5vh;
}

.card p{
    font-size:1.4vh;
}

.card p{
    color: #b3b3b3;
}

.card button{
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: large;
    background: #07e737;  
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #000000;  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.13);
    cursor: pointer;
}



.img-box{
    display: flex;
    justify-content: end;
    align-items: end;
}


.playbar{
    /* position: absolute; */
    /* bottom: 0; */
    text-align: center;
    /* background-color: #37ac50; */
    margin-top: 100px;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
}

#progress{
    -webkit-appearance: none;
    width: 80%;
    height: 5.5px;
    border-radius: 4px;
    background: #fff;
    margin-top: 40px;
    margin-bottom: 30px;
    cursor: pointer;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background:#494748;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 7px solid #07e737;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.171);
}


.song-button{
    display: flex;
    justify-content: center;
}


.song-button div{
    width: 50px;
    height: 50px;
    margin: 5px;
    background: #fff;  
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #000000;  
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.13);
    cursor: pointer;
}

.song-button div:nth-child(2){
    font-size: larger;
    margin-right: 15px;
    margin-left: 15px;
    transform: scale(1.3);
    background: #07e737;
    color: #000;
}

.song-button div:hover{
    opacity: 0.8;
}

.song-page{
    display: none;                   /* song page */
    margin: 10px;
    border-radius: 10px;
    background-image: linear-gradient(#1e1e1e, #121212);
    height: 75vh;
    width: 60vh;
}

.song-img{
    width: 40vh;
}

.song-img img{
    box-shadow: 0 10px 60px rgba(255, 255, 255, 0.247);
    width: 40vh;
    border-radius: 20px;
}

.song-img h4{
    margin-top: 15px;
}


.song{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:1250px) {

    .card-container{
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        justify-content:space-between;
        max-height: 70vh;
    }

    .card{
        width: 180px;
        height:100%;
        padding:15px;
        border-radius: 8px;
        position: relative;
    }
}

@media (max-width:860px) {

    .song-page{
        margin: 10px;
        border-radius: 10px;
        background-image: linear-gradient(#1e1e1e, #121212);
        height: 75vh;
        width: 60vw;
    }

    .song-img{
        width: 40vw;
    }
    
    .song-img img{
        box-shadow: 0 10px 60px rgba(255, 255, 255, 0.247);
        width: 40vw;
        border-radius: 20px;
    }

    .card-container{
        padding-left: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-content:space-between;
        
        max-height: 70vh;
    }

    .card{
        width: 150px;
        height:100%;
        padding:15px;
        border-radius: 8px;
        position: relative;
    }
}
@media (max-width:720px) {
    .left{
        width:150px;
    }

    h4{
        display: none;
    }
    .heading{
        display: inline-flex;
        flex-direction: column;
        justify-content: left;
        width: 30px;
    }
    
    .footer{
        display: none;
    }
    .card-container{
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(28vw, 1fr));
        justify-content:space-between;
        
        max-height: 70vh;
    }

    .card{
        width: 30vw;
        height:100%;
        padding:15px;
        border-radius: 8px;
        position: relative;
    }
}

@media (max-width:500px) {
    .left{
        display: none;
    }
    .right {
        width: 100vw;
        height: 100vh;
        margin: 0;
        position: relative;
    }

    .card-container{
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
        justify-content:space-between;
        max-height: 70vh;
    }

    .card{
        width: 40vw;
        height:100%;
        padding:15px;
        border-radius: 8px;
        position: relative;
    }

    .song-page{
        margin-top: 85px;
        border-radius: 10px;
        background-image: linear-gradient(#575757, #121212);
        height: 90vh;
        width: 90vw;
        top: 0;
        bottom: 0;
        position: absolute;
    }

    .song-img{
        width: 80vw;
    }
    
    .song-img img{
        box-shadow: 0 0px 0px rgba(255, 255, 255, 0.247);
        width: 80vw;
        border-radius: 20px;
        margin-bottom: 20px;
    }


    .playbar{
        bottom: 0;
        position: absolute;
        padding-bottom: 50px;
    }
    
}

@media (max-width:500px){
    .header .button{
        display: none;
    }
    .musics{
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }
}
